In [1]:
import pandas as pd
from pathlib import Path
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
new_car= pd.read_csv(Path("./Resources/new_cars_prices.csv"))
used_car= pd.read_csv(Path("./Resources/used_car_prices.csv"))
car_data= pd.read_csv(Path("./Resources/car_prices.csv"))

In [3]:
car_data.dropna(inplace=True)

In [4]:
car_data= car_data.drop(columns=['vin','saledate'], axis=1)

In [5]:
round((car_data.isna().sum()/len(car_data)) * 100,2)

year            0.0
make            0.0
model           0.0
trim            0.0
body            0.0
transmission    0.0
state           0.0
condition       0.0
odometer        0.0
color           0.0
interior        0.0
seller          0.0
mmr             0.0
sellingprice    0.0
dtype: float64

In [6]:
car_data

,year,make,model,trim,body,transmission,state,condition,odometer,color,interior,seller,mmr,sellingprice
0,2015,Kia,Sorento,LX,SUV,automatic,ca,5.0,16639.0,white,black,kia motors america inc,20500.0,21500.0
1,2015,Kia,Sorento,LX,SUV,automatic,ca,5.0,9393.0,white,beige,kia motors america inc,20800.0,21500.0
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,ca,45.0,1331.0,gray,black,financial services remarketing (lease),31900.0,30000.0
3,2015,Volvo,S60,T5,Sedan,automatic,ca,41.0,14282.0,white,black,volvo na rep/world omni,27500.0,27750.0
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,ca,43.0,2641.0,gray,black,financial services remarketing (lease),66000.0,67000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558831,2011,BMW,5 Series,528i,Sedan,automatic,fl,39.0,66403.0,white,brown,lauderdale imports ltd bmw pembrok pines,20300.0,22800.0
558833,2012,Ram,2500,Power Wagon,Crew Cab,automatic,wa,5.0,54393.0,white,black,i -5 uhlmann rv,30200.0,30800.0
558834,2012,BMW,X5,xDrive35d,SUV,automatic,ca,48.0,50561.0,black,black,financial services remarketing (lease),29800.0,34000.0
558835,2015,Nissan,Altima,2.5 S,sedan,automatic,ga,38.0,16658.0,white,black,enterprise vehicle exchange / tra / rental / t...,15100.0,11100.0
558836,2014,Ford,F-150,XLT,SuperCrew,automatic,ca,34.0,15008.0,gray,gray,ford motor credit company llc pd,29600.0,26700.0

In [ ]:
car_data['make'] = car_data['make'].astype(str)
car_data['model'] = car_data['model'].astype(str)
car_data['state'] = car_data['state'].str.upper()

In [ ]:
counts = car_data['make'].value_counts()

In [ ]:
counts

In [ ]:
counts[counts <100].index

In [ ]:
sns.pairplot(car_data);

In [ ]:
value_Retain = car_data.groupby(['year','make'])['sellingprice'].mean()

In [ ]:
value_Retain.loc[2007].plot(kind='bar')

In [ ]:
car_data[['mmr','sellingprice']].plot()